
@font-face {
	font-family: Audrey;
	src: url(../font/Audrey-Normal.otf);
}
@font-face {
	font-family: Audrey;
	font-style: italic;
	src: url(../font/Audrey-NormalOblique.otf);
}
@font-face {
	font-family: Audrey;
	font-weight: bold;
	src: url(../font/Audrey-Bold.otf);
}
/* @font-face {
	font-family: Audrey;
	font-weight: bold italic;
	src: url(../font/Audrey-BoldOblique.otf);
} */

@font-face {
	font-family: Gotham;
	src: url(../font/Gotham-Light.otf);
}
@font-face {
	font-family: Gotham;
	font-style: italic;
	src: url(../font/Gotham-BookItalic.otf);
}
@font-face {
	font-family: Gotham;
	font-weight: bold;
	src: url(../font/Gotham-Bold.otf);
}

html {
  font-size: 18px;
}

body {
  color: #384454;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Gotham;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {  
  font-family: Audrey;
  font-style: normal;
}

a {
  transition: all 0.3s ease;
  color: #7b8da5;
}

a:hover,
a:active {
  color: #5d7089;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:focus {
  outline: none;
}

.btn {
  padding: 8px 32px;
}

.tm-section-pad-top {
  padding-top: 135px;
}

.tm-text-primary {
  color: #384454;
}

.tm-font-big {
  font-size: 1.25rem;
}

.tm-btn-primary {
  color: #fff;
  background-color: #7b8da5;
  padding: 14px 35px;
  border-radius: .25rem;
}

.tm-btn-primary:hover,
.tm-btn-primary:focus {
  color: #fff;
  background-color: #5d7089;
}

/* Navbar */

.logo {
  width: 48px;
  height: 48px;
}

.tm-navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  transition: all 0.3s ease;
  padding: 0;
}

@media (max-width: 991px) {
  .tm-navbar {
    padding: 0 .5rem;
  }
}

.tm-navbar.scroll {
  background-color: white;
  border-bottom: 1px solid #e9ecef;
}

.navbar-brand {
  color: #384454;
  font-size: 1.4rem;
  font-weight: 600;
  transition: all 0.3s ease;
  margin-left: -64px;
}

.tm-navbar.scroll .navbar-brand {
  color: #7b8da5;
  margin-left: -8px;
}

@media (max-width: 991px) {
  .navbar-brand {
    margin-left: -80px;
  }

  .tm-navbar.scroll .navbar-brand {
    margin-left: -2px;
  }
}

.navbar-brand:hover {
  color: #29323d;
}

.tm-navbar.scroll .navbar-brand:hover {
  color: #5d7089;
}

.nav-item {
  list-style: none;
}

.tm-nav-link {
  color: #384454;
}

.tm-navbar.scroll .tm-nav-link {
  color: #7b8da5;
}

.tm-nav-link:hover {
  color: #29323d;
}

.tm-navbar.scroll .tm-nav-link:hover,
.tm-navbar.scroll .tm-nav-link.current {
  color: #5d7089;
}

.icon-bar {
    width: 22px;
    height: 2px;
    border-radius: 1px;
    display: block;
    margin-top: 4px;
    -webkit-transition: all 0.42s ease-in-out;
    -moz-transition: all 0.42s ease-in-out;
    -ms-transition: all 0.42s ease-in-out;
    -o-transition: all 0.42s ease-in-out;
    transition: all 0.42s ease-in-out;
}

#navbar-toggler {
    display: inline-block;
    z-index: 1070;
    padding: 10px;
}

@media (min-width: 992px) {
  #navbar-toggler {
    display: none;
  }
}

#navbar-toggler-hamburger {
  transform: rotate(180deg);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#navbar-toggler.collapsed > #navbar-toggler-hamburger {
    transform: rotate(0deg);
}

#navbar-toggler .icon-bar {
    background-color: #363230 !important;
}

#navbar-toggler:hover .icon-bar {
    background-color: #7a706c !important;
}

.tm-navbar.scroll #navbar-toggler .icon-bar {
  background-color: #5f5754 !important;
}

.tm-navbar.scroll #navbar-toggler:hover .icon-bar {
    background-color: #9f9793 !important;
}

#navbar-toggler .top-bar {
    transform: translateX(3px) rotate(45deg);
    transform-origin: 10% 10%;
}

#navbar-toggler .middle-bar {
    opacity: 0;
}

#navbar-toggler .bottom-bar {
    transform: translateX(3px) rotate(-45deg);
    transform-origin: 10% 90%;
}

#navbar-toggler.collapsed .top-bar {
    transform: translateX(0) rotate(0);
}

#navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

#navbar-toggler.collapsed .bottom-bar {
    transform: translateX(0)rotate(0);
}

.navbar-collapse { /* smoothens navbar dropdown */
  transition: all 0.3s ease;
}

/* Main */

#main {
  background-image: url(../img/main-background.jpg);
  background-repeat: no-repeat;
  background-position: center 0px;
  /* background-size: cover; */
  width: 100vw;
  height: 100vh;
  min-height: 375px;
  position: relative;
}

#main-logo {
  background-image: url(../img/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 25vh;
  /* min-height: 375px; */
  position: relative;
}

/* @media (min-height: 830px) {
  #main {
    background-position: center 0px;
  }
}

@media (min-height: 680px) and (max-height: 829px) {
  #main {
    background-position: center -100px;
  }
}

@media (min-height: 500px) and (max-height: 679px) {
  #main {
    background-position: center -200px;
  }
}

@media (max-height: 499px) {
  #main {
    background-position: center -300px;
  }
} */

.tm-main-text-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.tm-main-text-container-inner {
  margin-top: -90px;
}

.tm-intro-next {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-height: 480px) {
  .tm-main-text-container-inner {
    margin-top: -40px;
  }

  .tm-intro-next {
    bottom: 20px;
  }
}

.tm-down-arrow-link {
  width: 60px;
  display: block;
  margin: -6% auto 0;
}

.tm-down-arrow {
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px 22px 8px;
  transition: all 0.3s ease;
}

.tm-down-arrow-link:hover > .tm-down-arrow,
.tm-down-arrow-link:focus > .tm-down-arrow {
  color: #fff;
}

.tm-down-arrow-link:hover,
.tm-down-arrow-link:focus {
  margin-top: -5%;
}

/* Introduction */

.tm-section-title {
  font-size: 2.6rem;
  font-weight: normal;
}

.tm-intro-text {
  font-size: 1.2rem;
  line-height: 1.4;
  text-align: justify;
}

.tm-icon {
  display: block;
  margin-bottom: 55px;
  color: #5f5754;
}

/* Product */

#product {
  background-color: #b08c7c;
}

.tm-product-description {
  max-width: 650px;
  width: 100%;
  font-size: 0.9rem;
}

.tm-gallery-container {
  padding-top: 70px;
  /* padding-bottom: 0; */
  padding-bottom: 120px;
}

.tm-gallery-item {
  margin: 0 auto 2rem;
}

.slick-dots {
  bottom: -65px;
}

.slick-dots li {
  margin: 0 13px;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before,
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #3ba0dd;
}

.slick-dots li button:before {
  font-size: 26px;
}

/* Hover Effect */
/* Common style */
.grid figure {
  position: relative;
  /* float: none; */
  overflow: hidden;
  /* margin: 10px 1%;
  min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%; */
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  width: 100%;
  /* min-height: 100%; */
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure span {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure span h4 {
  font-weight: 800;
}

.grid figure span,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/*---------------*/
/***** Honey *****/
/*---------------*/

figure.effect-honey {
  /* background: #5f5754; */
  background: none;
  /* max-width: 220px; */
  -webkit-transition: background 0.35s;
  transition: background 0.35s;
}

figure.effect-honey:hover {
  background: #5f5754;
}

figure.effect-honey img {
  opacity: 0.9;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-honey:hover img {
  opacity: 0.25;
}

figure.effect-honey figcaption::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: #b08c7c;
  content: "";
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}

figure.effect-honey span {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em 1.5em;
  width: 100%;
  text-align: left;
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
}

figure.effect-honey span i {
  font-style: normal;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
}

figure.effect-honey span i * {
  opacity: inherit;
}

figure.effect-honey figcaption::before,
figure.effect-honey span {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figure.effect-honey:hover figcaption::before,
figure.effect-honey:hover span,
figure.effect-honey:hover span i {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Contact */

#contact {
  color: white;
  background-image: url(../img/contact-background.jpg);
  background-position: center 0px;
  background-repeat: no-repeat;
  /* background-size: cover; */
  min-height: 100vh;
  position: relative;
  padding-bottom: 50px;
  padding-top: 160px;
}

.tm-underline {
  border-top: 2px solid white;
  height: 8px;
  width: 100%;
}

.tm-underline-inner {
  width: 25%;
  height: 8px;
  background: white;
}

.tm-contact-item {
  margin-bottom: 25px;
}

.tm-contact-item-link {
  display: flex;
  align-items: center;
}

.tm-contact-item-link i,
.tm-contact-item-link span {
  color: white;
  transition: all 0.3s ease;
}

.tm-contact-item-link:hover i,
.tm-contact-item-link:hover span {
  color: #b08c7c;
}

.tm-input {
  padding: 8px 25px;
  border-radius: 3px;
  border: 1px solid white;
  background: transparent;
  color: white;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.tm-btn-submit {
  margin-left: 20px;
}

.tm-footer {
  position: absolute;
  bottom: 35px;
  left: 0;
  right: 0;
  padding: 0 15px;
}

.tm-footer-link {
  color: white;
}

.tm-footer-link:hover,
.tm-footer-link:focus {
  color: #b08c7c;
  text-decoration: none;
}

p {
  line-height: 1.9;
}

@media (min-width: 768px) {
  .tm-intro-text-container {
    padding-left: 65px;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1275px;
  }

  .tm-container-gallery {
    max-width: 1290px;
  }

  .tm-container-contact {
    max-width: 1063px;
  }
}

@media (max-width: 991px) {
  .tm-intro-text-container {
    padding-left: 15px;
    padding-top: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-intro-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-btn-submit {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .tm-btn-submit {
    margin-left: 20px;
    margin-top: 0;
  }

  .navbar-nav {
    /* max-width: 250px; */
    text-align: right;
  }

  .navbar-collapse {
    /* background-color: rgb(255, 255, 255); */
    padding: 10px;
    border-radius: 3px;
  }

  .navbar-collapse .nav-link {
    color: #5f5754;
  }
}

@media (max-width: 480px) {
  .tm-gallery-container {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .slick-dots li {
    margin: 0 8px;
  }

  .tm-gallery-item {
    margin-bottom: 70px;
  }
}

@media (max-width: 420px) {
  .tm-btn-submit {
    display: block;
    margin-left: 0;
    margin-top: 20px;
  }
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #9f9793;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #9f9793;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #363230;
}
